.hero .image {
  transition: all 500ms ease;
  min-width: 400px;
  min-height: 400px;
  width: 400px;
  height: 400px;
}

.card {
  width: 300px;
  height: 300px;
  @apply flex flex-col items-center p-5 rounded-2xl justify-start gap-5 bg-dark-background2;
}

@media (max-width: 1000px) {
  .hero .image {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 900px) {
  .hero p {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .hero {
    @apply flex-col-reverse;
  }

  .hero .communication {
    @apply items-center;
  }

  .hero .communication p {
    @apply text-center;
  }
}

@media (max-width: 600px) {
  .hero p {
    width: 100%;
  }
}
